<div class="p-5 text-center bg-image" style="
        background-image: url('../../../assets/img/bandera-valencia-parte-superior-lonja-seda-valencia.jpg');
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 20%;
      ">
</div>

<div class="container-fluid divHome">
  <div class="row justify-content-center align-content-center">
    <div class="text-center h1Represents">
      <h1><u>Representación 2023</u></h1>
    </div>
  </div>
  <div class="container-fluid representacionMovil">
    <div class="row justify-content-between">
      <div class="col-6">
        <div class="row g-0 justify-content-end">
          <div class="col-10">
            <a href="#"><img src="../../../assets/img/fallera.jpg" class="img-fluid rounded" alt="..."></a>
            <figcaption class="blockquote-footer mt-1 text-end">
              Victoria Mora: <cite title="Título fuente">Fallera Mayor</cite>
            </figcaption>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row g-0 justify-content-start">
          <div class="col-10">
            <img src="../../../assets/img/fallero.jpg" class="img-fluid rounded" alt="...">
            <figcaption class="blockquote-footer mt-1 text-end">
              Pedro Gonzalez: <cite title="Título fuente">Presidente</cite>
            </figcaption>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-evenly mediaMovil  ">
    <div class="card col-6" style="max-width: 650px;">
      <div class="row g-0 m-2 align-items-center">
        <div class="col-md-4">
          <img src="../../../assets/img/fallera.jpg" class="img-fluid rounded" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title text-center">Victoria Mora García</h2>
            <p class="card-text fst-italic">"Como Fallera Mayor de la emblemática falla Díaz Murillo, me complace
              compartir con ustedes la pasión, la alegría y la tradición que envuelve a nuestra querida comisión
              fallera. Desde sus orígenes, hemos trabajado incansablemente para celebrar las Fallas de una manera única
              y especial."</p>
            <figcaption class="blockquote-footer mt-1 text-end">
              Victoria Mora: <cite title="Título fuente">Fallera Mayor</cite>
            </figcaption>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-6" style="max-width: 650px;">
      <div class="row g-0 m-2 align-items-center">
        <div class="col-md-4">
          <img src="../../../assets/img/fallero.jpg" class="img-fluid rounded" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title text-center">Pedro González Checa</h2>
            <p class="card-text fst-italic">"Nuestros monumentos monumentales, llenos de ingenio y crítica, nos han
              llevado a lo más alto en el mundo fallero. Cada año, nuestro esfuerzo colectivo se traduce en un
              espectáculo de color, música y fuego que no deja indiferente a nadie.
              Pero nuestra falla es mucho más que las Fallas en sí. Es una gran familia "</p>
            <figcaption class="blockquote-footer mt-1 text-end">
              Pedro González: <cite title="Título fuente">Presidente</cite>
            </figcaption>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid divHome" style="background-color: #f8f9fa;">
  <div class="row justify-content-center">
    <div class="row text-center h1Represents">
      <h1><u>Monumentos 2023</u></h1>
    </div>
    <div class="col-6">
      <div class="row g-0 justify-content-end">
        <div class="col-md-12 col-lg-4">
          <a href="#"><img src="../../../assets/img/falla-infantil.jpg" class="img-fluid rounded" alt="..."></a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row g-0 justify-content-start">
        <div class="col-md-12 col-lg-4">
          <img src="../../../assets/img/falla-grande.jpg" class="img-fluid rounded" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="imagen-contenedor">
  <a><img class="imagen" src="../../../assets/img/falla-infantil.jpg" alt="Descripción de la imagen" [ngClass]="{'ampliado': imagenAmpliada}" (click)="imagenAmpliada = !imagenAmpliada"></a>
</div> -->



<div class="container-fluid justify-content-center align-content-center divHome">
  <div class="row text-center h1Represents">
    <h1 class="h1Movil"><u>Descargar nuestro Llibret 2023</u></h1>
  </div>
  <div class="text-center">
    <a href="../../../assets/docs/Llibret-oloriz-2016-FINAL-TOTAL-BUENO.pdf" download>
      <img src="../../../assets/img/download-75.png" alt="">
    </a>
    <h2 class="pt-5">Llibret Faller 2023</h2>
  </div>
</div>



<div class="container-fluid divHome mediaMovil" style="background-color: #f8f9fa;">
  <div class="row justify-content-center align-content-center">
    <div class="text-center h1Represents">
      <h1><u>Descubre la Falla Díaz Murillo</u></h1>
    </div>
  </div>
  <div class="card-group homeCards">
    <div class="card text-center">
      <img src="../../../assets/img/31d76a63-e132-41f3-934d-d4542540d986_21-9-aspect-ratio_default_1129808.jpg"
        class="card-img-top h-75" alt="Monumento">
      <div class="card-body"><br>
        <h2 class="card-title">Monumentos</h2>
        <p class="card-text text-center">Trabajamos con los mejores artistas falleros para conseguir excelentes premios.
        </p>

      </div>
    </div>
    <div class="card text-center">
      <img src="../../../assets/img/ofrenda.jpg" class="card-img-top h-75" alt="Ofrenda">
      <div class="card-body"><br>
        <h2 class="card-title">Ofrenda</h2>
        <p class="card-text text-center">Más de 500 falleros nuestros acuden todos los años a vestir a la Virgen.</p>

      </div>
    </div>
    <div class="card text-center">
      <img src="../../../assets/img/disfraces.JPG" class="card-img-top h-75" alt="Fiestas">
      <div class="card-body"><br>
        <h2 class="card-title">Eventos</h2>
        <p class="card-text text-center">Disfruta de la falla durante todo el año con nuestros eventos.</p>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row divMovil">

    <h1 class="pb-3 d-flex justify-content-center text-center">Nunca ha sido tan fácil gracias a nuestra web</h1>

    <div class="col-lg-2 col-md-6 vacio"></div>

    <div class="col-lg-2 col-md-6 col-sm-12">
      <div class="card" style="background-color:#f8f9fa;"> <img src="../../../assets/img/fuegos-artificiales.png"
          class="card-img-top ventajas" alt="costes" style="padding: 20%;">
        <div class="card-body">
          <h3 class="card-title text-center" style="font-weight: bold;">Disfruta</h3>
          <h4 class="text-center">Entérate de los últimos eventos y apúntate con un clic</h4>
        </div>
      </div>

    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 cardVentajas">
      <div class="card" style="background-color: #f8f9fa;"> <img src="../../../assets/img/blog.png"
          class="card-img-top ventajas" alt="costes" style="padding: 20%;">
        <div class="card-body">
          <h3 class="card-title text-center" style="font-weight: bold;">Comparte</h3>
          <h4 class="text-center">Sube tus experiencias y comenta con el resto de falleros</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 cardVentajas">
      <div class="card" style="background-color:#f8f9fa;"> <img src="../../../assets/img/papelera-de-reciclaje.png"
          class="card-img-top ventajas" alt="costes" style="padding: 20%;">
        <div class="card-body">
          <h3 class="card-title text-center" style="font-weight: bold;">Colabora</h3>
          <h4 class="text-center">Hazte voluntario de tareas en los eventos que quieras</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 cardVentajas">
      <div class="card" style="background-color:#f8f9fa;"> <img src="../../../assets/img/libro-de-historia.png"
          class="card-img-top ventajas" alt="costes" style="padding: 20%;">
        <div class="card-body">
          <h3 class="card-title text-center" style="font-weight: bold;">Conócenos</h3>
          <h4 class="text-center">Descubre la historia de nuestra falla y su tradición</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-6 vacio"></div>
  </div>
</div>