<div class="p-5 text-center bg-image" style="
        background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 50% ;
      ">
</div>

<div class="container-fluid m-5">
  <div class="row justify-content-center text-center">
    <div>
      <h1>Representación 2023</h1>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row justify-content-evenly  ">
    <div class="card col-6 " style="max-width: 650px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/img/fallera.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body mt-5">
            <h2 class="card-title text-center">Victoria Mora García</h2>
            <p class="card-text fst-italic">"Estáis en la página web oficial de la Falla Murillo. Una falla diferente,
              innovadora
              pero a la vez tradicional con una trayectoria fallera que se remonta a 1974. Si buscas un buen ambiente
              para disfrutar del mundo de las Fallas sin duda esta es tu falla. Bienvenido a Falla Murillo"</p>
            <p class="card-text text-end"><small class="text-body-secondary">Att. La Fallera Mayor</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-6 " style="max-width: 650px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/img/fallero.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body mt-5">
            <h2 class="card-title text-center">Pedro González Checa</h2>
            <p class="card-text fst-italic">"Estáis en la página web oficial de la Falla Murillo. Una falla diferente,
              innovadora
              pero a la vez tradicional con una trayectoria fallera que se remonta a 1974. Si buscas un buen ambiente
              para disfrutar del mundo de las Fallas sin duda esta es tu falla. Bienvenido a Falla Murillo"</p>
            <p class="card-text text-end"><small class="text-body-secondary">Att. La Fallera Mayor</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid m-5">
  <div class="row justify-content-center text-center">
    <div>
      <h1>Monumentos 2023</h1>
    </div>
  </div>
</div>

<div class="container-fluid m-5">
  <div class="row justify-content-center text-center">
    <div>
      <h1>Descargar nuestro Llibret 2023</h1>
    </div>
  </div>
</div>


<div class="card-group homeCards">
  <div class="card text-center">
    <img src="../../../assets/img/31d76a63-e132-41f3-934d-d4542540d986_21-9-aspect-ratio_default_1129808.jpg"
      class="card-img-top h-75" alt="Monumento">
    <div class="card-body"><br>
      <h2 class="card-title">Monumentos</h2>
      <p class="card-text text-center">Trabajamos con los mejores artistas falleros para conseguir excelentes premios.
      </p>

    </div>
  </div>
  <div class="card text-center">
    <img src="../../../assets/img/ofrenda.jpg" class="card-img-top h-75" alt="Ofrenda">
    <div class="card-body"><br>
      <h2 class="card-title">Ofrenda</h2>
      <p class="card-text text-center">Más de 500 falleros nuestros acuden todos los años a vestir a la Virgen.</p>

    </div>
  </div>
  <div class="card text-center">
    <img src="../../../assets/img/disfraces.JPG" class="card-img-top h-75" alt="Fiestas">
    <div class="card-body"><br>
      <h2 class="card-title">Eventos</h2>
      <p class="card-text text-center">Disfruta de la falla durante todo el año con nuestros eventos.</p>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="bg-light my-3 p-3 row">

    <!-- <h1 class="m-5 d-flex justify-content-center">Nunca ha sido tan fácil gracias a nuestra web</h1> -->

    <div class="col-lg-2 col-md-6 vacio"></div>

    <div class="col-lg-2 col-md-6 col-sm-12 cardVentajas">
      <div class="card" style="background-color:#dee2e6;"> <img src="../../../assets/img/fuegos-artificiales.png"
          class="card-img-top ventajas" alt="costes" style="padding: 20%;">
        <div class="card-body">
          <h3 class="card-title text-center" style="font-weight: bold;">Disfruta</h3>
          <h4 class="text-center">Entérate de los últimos eventos y apúntate con un clic</h4>
        </div>
      </div>

    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 cardVentajas">
      <div class="card" style="background-color: #dee2e6;"> <img src="../../../assets/img/blog.png"
          class="card-img-top ventajas" alt="costes" style="padding: 20%;">
        <div class="card-body">
          <h3 class="card-title text-center" style="font-weight: bold;">Comparte</h3>
          <h4 class="text-center">Sube tus experiencias y comenta con el resto de falleros</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 cardVentajas">
      <div class="card" style="background-color:#dee2e6;"> <img src="../../../assets/img/papelera-de-reciclaje.png"
          class="card-img-top ventajas" alt="costes" style="padding: 20%;">
        <div class="card-body">
          <h3 class="card-title text-center" style="font-weight: bold;">Colabora</h3>
          <h4 class="text-center">Hazte voluntario de tareas en los eventos que quieras</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 cardVentajas">
      <div class="card" style="background-color:#dee2e6;"> <img src="../../../assets/img/libro-de-historia.png"
          class="card-img-top ventajas" alt="costes" style="padding: 20%;">
        <div class="card-body">
          <h3 class="card-title text-center" style="font-weight: bold;">Conócenos</h3>
          <h4 class="text-center">Descubre la historia de nuestra falla y su tradición</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-6 vacio"></div>
  </div>
</div>