<mat-toolbar color="primary" style="background-color: black;">
  <img src="../../../assets/img/escudo-valencia-removebg-preview.png" class="img-fluid" alt="Descripción de la imagen"
    width="35px">

  <a mat-button href="" class="ms-3 mediaMovil">Inicio</a>

  <a mat-button href="/inscripcion" class="mediaMovil">Inscripción</a>

  <a mat-button href="/blog" class="mediaMovil">Blog</a>

  <button mat-button [matMenuTriggerFor]="belowMenu" class="mediaMovil">Sobre nosotros</button>
  <mat-menu #belowMenu="matMenu" xPosition="after">
    <a mat-menu-item href="/nosotros/historia">Historia</a>
    <a mat-menu-item href="/nosotros/comision">Comisión</a>
    <a mat-menu-item href="/nosotros/colaboradores">Colaboradores</a>
  </mat-menu>

  <a mat-button href="/contacto" class="mediaMovil">Contacto</a>

  <a mat-button *ngIf="loginResponseModel?.usuario?.id_Rol_Gestion" href="/actividades" class="mediaMovil">Actividades</a>

  <span class="example-spacer"></span>
  <span class="example-spacer"></span>

 

  <button mat-icon-button [matMenuTriggerFor]="belowMenuMovil" class="menuMovil">
    <span class="material-icons">
      menu
    </span>
  </button>
  <mat-menu #belowMenuMovil="matMenu" xPosition="after">
    <a mat-menu-item href="">Inicio</a>
    <a mat-menu-item href="/inscripcion">Inscripcion</a>
    <a mat-menu-item href="/contacto">Contacto</a>
    <a mat-menu-item href="/blog">Blog</a>
    <a mat-menu-item *ngIf="loginResponseModel?.usuario?.id_Rol_Gestion" href="/actividades">Actividades</a>
  </mat-menu>

  <button mat-icon-button (click)="loginNavigate()">
    <span class="material-icons-outlined">
      {{dashboardIcon}}
    </span>
  </button>

  <button mat-icon-button *ngIf="loginResponseModel?.usuario?.id_Rol_Gestion === 1" (click)="adminNavigate()">
    <span class="material-icons">settings</span>
  </button>

</mat-toolbar>