h1{
    font-size: 50px;
}

.buttonDelete{
    color: red;
}
  

.bgBigCard{
    background-color: #d7e3fc;
    
}


@media (max-width: 1007px) {
    .nameAuthor {
        display: none;
    }

    .comentsDiv{
        overflow-wrap: break-word;
    }

    .bgBigCard{
        margin-top: 2%;
    }

    button{
        width: 6em;
    }

    h4{
        font-size: 15px;
    }

    .contenidoPost{
        margin-top: 20%;
    }
}

@media (min-width: 1007px) {
    .bgBigCard{
        margin-top: 1%;
        margin-bottom: 2%;
        
    }
}

