<div class="container-fluid gradiente pb-5">
    
    <div class="row">
        <div class="col-12 text-center my-5">
            <h1>Calendario de actividades</h1>
        </div>
    </div>
    <div class="container-fluid calendarMain">
        <full-calendar [options]="calendarOptions" class="calendarMain">
            <ng-template #eventContent let-arg>
                <div class="calendarContent" [backgroundColor]="getRandomColor()" (click)="apuntarEditar(arg.event.extendedProps.idActividad)" >
                    <h2>{{ arg.event.title }}</h2>
                </div>
            </ng-template>
        </full-calendar>
    </div>
</div>


