<div class="container-fluid">

    <div class="row m-3 mt-5">
        <div class="col-12 text-center">
            <h1>Panel de control</h1>
        </div>
    </div>

    <mat-tab-group fitInkBarToContent class="mb-5">
        <mat-tab label="Usuario">

            <mat-card>
                <mat-card-content class="mt-3">
                    <div class="row justify-content-center">
                        <div class="userInfoDiv">
                            <form class="p-3">
                                <div class="row d-inline-flex w-100">
                                    <div class="col-6">
                                        <label for="">Nombre</label><br>
                                        <mat-form-field appearance="fill" class="w-100" disabled="true">
                                            <input matInput [readonly]="true" type="text"
                                                placeholder="{{loginResponseModel?.usuario?.nombre}}">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <label for="">Apellidos</label><br>
                                        <mat-form-field appearance="fill" class="w-100">
                                            <input matInput [readonly]="true" type="text"
                                                placeholder="{{loginResponseModel?.usuario?.apellidos}}">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row d-inline-flex w-100">
                                    <div class="col-6">
                                        <label for="">DNI</label><br>
                                        <mat-form-field appearance="fill" class="w-100">
                                            <input matInput [readonly]="true" type="text"
                                                placeholder="{{loginResponseModel?.usuario?.dni}}">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <label for="">Fecha nacimiento</label><br>
                                        <mat-form-field appearance="fill" class="w-100">
                                            <input matInput [readonly]="true" type="text"
                                                placeholder="{{loginResponseModel?.usuario?.fechaNac | date: 'dd/MM/yyyy'}}">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row d-inline-flex w-100">
                                    <div class="col-6">
                                        <label for="">Telefono</label><br>
                                        <mat-form-field appearance="fill" class="w-100">
                                            <input matInput [readonly]="true" type="text"
                                                placeholder="{{loginResponseModel?.usuario?.telefono}}">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <label for="">Fecha registro</label><br>
                                        <mat-form-field appearance="fill" class="w-100">
                                            <input matInput [readonly]="true" type="text"
                                                placeholder="{{loginResponseModel?.usuario?.fechaRegistro | date: 'dd/MM/yyyy'}}">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row d-inline-flex w-100">
                                    <div class="col-6">
                                        <label for="">Rol comisión</label><br>
                                        <mat-form-field appearance="fill" class="w-100">
                                            <input matInput [readonly]="true" type="text"
                                                placeholder="{{loginResponseModel?.usuario?.id_Rol_Fallero === 1 ? 'Adulto' : 'Infantil'}}">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-6">
                                        <label for="">Rol gestión</label><br>
                                        <mat-form-field appearance="fill" class="w-100">
                                            <input matInput [readonly]="true" type="text"
                                                placeholder="{{loginResponseModel?.usuario?.id_Rol_Fallero === 1 ? 'Administrador' : 'Usuario'}}">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </form>
                            <div class="me-4 row d-flex justify-content-end">
                                <div class="justify-content-end d-inline-flex">
                                    <button mat-raised-button color="warn" class="m-1 col-1 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2" (click)="logout()">Cerrar
                                        sesión</button><br>
                                    <button mat-raised-button color="primary" class="m-1 col-1 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-2" (click)="changePass()">Cambiar
                                        contraseña</button><br>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </mat-card-content>
            </mat-card>

        </mat-tab>
        <mat-tab label="Mis actividades">
            <mat-card>
                <mat-card-content>
                    <div class="container-fluid">
                        <div class="row justify-content-center mt-3">
                            <div class="col-12 divUserBlog">
                                <div class="card mb-2" *ngFor="let activity of activities; let i = index">
                                    <div class="card-header activitiesDiv">
                                        <div class="row justify-content-start align-content-start mt-3">
                                            <div class="col-sm-11 col-md-11" (click)="apuntarEditar(activity.id_Actividad, true)">
                                                <h2>{{ i + 1}} - {{ activity.title }}</h2>
                                                <h5>Fecha de inicio: {{activity.start | date: 'dd/MM'}}</h5>
                                            </div>
                                            <div class="col-md-1 col-lg-1 text-end">
                                                <mat-icon class="buttonDelete" matTooltip="Borrarme de la actividad"
                                                    (click)="deleteAsistant(activity.id_Actividad, loginResponseModel?.usuario?.idFallero)">delete</mat-icon>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="Mis posts">
            <mat-card>
                <mat-card-content>
                    <div class="container-fluid">
                        <div class="row justify-content-center mt-3">
                            <div class="col-12 divUserBlog">
                                <div class="card mb-2" *ngFor="let post of postsBlog; let i = index">
                                    <div class="card-header activitiesDiv">
                                        <div class="row justify-content-start align-content-start mt-3">
                                            <div class="col-sm-11 col-md-11" (click)="redirectToPost(post.idBlog)">
                                                <h2>{{ i + 1}} - {{ post.titulo }}</h2>
                                                <h5>Fecha de publicacion: {{post.fechaCreacion | date: 'dd/MM'}}</h5>
                                            </div>
                                            <div class="col-md-1 col-lg-1 text-end">
                                                <mat-icon class="buttonDelete" matTooltip="Borrar post"
                                                    (click)="deletePost(post.idBlog)">delete</mat-icon>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-tab>
    </mat-tab-group>

</div>