<div class="p-5 text-center bg-image" style="
        background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
        height: 300px;
      ">
</div>

<div class="container-fluid">

    <div class="row justify-content-center align-content-center  m-5">
        <div class="col-auto">
            <h1>Nuestros patrocinadores</h1>
        </div>
    </div>

    <div class="row justify-content-center align-content-center">
        <div class="col-2 text-center">
            <img src="../../../../../assets/img/partners/brasas.jpg" alt="">
        </div>
        
        <div class="col-2 text-center">
            <img src="../../../../../assets/img/partners/cocacola-logo.jpeg" alt="">
        </div>
        
        <div class="col-2 text-center">
            <img src="../../../../../assets/img/partners/don dino.png" alt="">
        </div>
        
        <div class="col-2 text-center">
            <img src="../../../../../assets/img/partners/feuvert.jpg" alt="">
        </div>
    </div>
    <div class="row justify-content-center align-content-center">
        <div class="col-2 text-center">
            <img src="../../../../../assets/img/partners/Logo-Alan-Indumentaria.png" alt="">
        </div>
        
        <div class="col-2 text-center">
            <img src="../../../../../assets/img/partners/Logo-Herbolario-Navarro-trasparente-1.png" alt="">
        </div>
        
        <div class="col-2 text-center">
            <img src="../../../../../assets/img/partners/M studio.png" alt="">
        </div>
        
        <div class="col-2 text-center">
            <img src="../../../../../assets/img/partners/Logo_Mercadona_(color-300-alpha).png" alt="">
        </div>
    </div>
    <div class="row justify-content-center align-content-center">
        <div class="col-2 text-center">
            <img src="../../../../../assets/img/partners/manolo.png" alt="">
        </div>
        
        <div class="col-2 text-center">
            <img src="../../../../../assets/img/partners/mc.gif" alt="">
        </div>
        
        <div class="col-2 text-center">
            <img src="../../../../../assets/img/partners/montañana.jpg" alt="">
        </div>
        
        <div class="col-2 text-center">
            <img src="../../../../../assets/img/partners/palomera.jpg" alt="">
        </div>
    </div>
    <div class="row justify-content-center align-content-center">
        <div class="col-2 text-center">
            <img src="../../../../../assets/img/partners/pringles.png" alt="">
        </div>
        
        <div class="col-2 text-center">
            <img src="../../../../../assets/img/partners/prisma.png" alt="">
        </div>
        
        <div class="col-2 text-center">
            <img src="../../../../../assets/img/partners/PROCARPA-logo.png" alt="">
        </div>
        
        <div class="col-2 text-center">
            <img src="../../../../../assets/img/partners/The_Good_Burger_(TGB).jpg" alt="">
        </div>
    </div>
    <div class="row justify-content-center align-content-center">
        <div class="col-2 text-center">
            <img src="../../../../../assets/img/partners/tododulce.png" alt="">
        </div>
        
        <div class="col-2 text-center">
            <img src="../../../../../assets/img/partners/trolli.png" alt="">
        </div>
    </div>


</div>