.mat-mdc-form-field {
    font-size: 14px;
}

.buttonEdit, .buttonDelete{
    cursor: pointer;
}

.buttonDelete{
    color: red;
}

h1{
    font-size: 50px;
}

@media (max-width:1007px) {
    h1{
        font-size: 30px;
    }

   
}
