<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">

    <!-- Section: Links  -->
    <section class="border-top">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 movilDiv">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>Falla Díaz Murillo
            </h6>
            <p>
              Desde 1903 haciendo las fallas de nuestros falleros inolvidables, no dudes en apuntarte y disfrutarlas con nosotros.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 movilDiv">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              La falla
            </h6>
            <p>
              <a href="/nosotros/historia" class="text-reset">Historia</a>
            </p>
            <p>
              <a href="/nosotros/colaboradores" class="text-reset">Colaboradores</a>
            </p>
            <p>
              <a href="#" class="text-reset">Representación</a>
            </p>
            <p>
              <a href="/contacto" class="text-reset">Contacto</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Links útiles
            </h6>
            <p>
              <a href="/privacy" class="text-reset">Aviso legal y privacidad</a>
            </p>
            
            <p>
              <a href="/actividades" class="text-reset">Actividades</a>
            </p>
            <p>
              <a href="/blog" class="text-reset">Blog</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> Carrer del Dr. Marañón, 9. Mislata.</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              fdmcwdaw@hotmail.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> 964563214</p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> 613425978</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <section class="d-flex justify-content-lg-end justify-content-sm-center p-4 border-bottom">
        <!-- Left -->
        <!-- Left -->
    
        <!-- Right -->
        <div class="movilDiv">
          <a href="https://es-es.facebook.com/" class="me-4 link-secondary">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com/?lang=es" class="me-4 link-secondary">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.google.com/" class="me-4 link-secondary">
            <i class="fab fa-google"></i>
          </a>
          <a href="https://www.instagram.com/" class="me-4 link-secondary">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://es.linkedin.com/" class="me-4 link-secondary">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/" class="me-4 link-secondary">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Falla Díaz Murillo</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->