@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@900&display=swap');

h1 {
    font-size: 50px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

p {
    font-size: large;
    text-align: justify;
}


.scrollOver {
    overflow-x: auto;
    scrollbar-width: none;
}

.inscripcionForm{
    border: 2px solid gray;
    border-radius: 5%;
    background: linear-gradient(to bottom, #ede0d4, #ddb892);
}

.error{
    color: red;
    margin-top: -1%;
    margin-bottom: 2%;
    font-size: 20px;
    font-size: medium;
}


@media (max-width: 1007px) {
    h1{
        font-size: 25px;
        text-align: center;
    }

    p{
        font-size: medium;
        margin: 2%;
    }

    .bg-image{
        height: 150px;
    }

    .downloadDiv{
        margin: 5%;
    }

    .inscripcionDiv{
        padding: 7%
    }
}

@media (min-width: 1007px) {
    .representacionMovil {
        display: none;
    }

    .divMovil {
        background-color: #f5f3f4;
        padding-top: 2%;
        padding-bottom: 3%;
    
    }

    .bg-image{
        height: 300px;
    }
}
