<div class="p-5 text-center bg-image" style="
        background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
        height: 300px;
      ">
</div>

<div class="container-fluid">
    <div class="row justify-content-center align-content-center m-5">
        <div class="col-auto">
            <h1>Cuadro de honor de fallas 2023-2024</h1>
        </div>

        <div class="row justify-content-center align-content-center m-5">
            <div class="col-3">
                <img src="../../../../../assets/img/falleraXL.jpg" alt="">
                <div class="mt-1">
                    <h2>FALLERA MAYOR</h2>
                    <span><i>Victoria Mora García</i></span>
                </div>
            </div>
            <div class="col-3 mt-5">
                <img src="../../../../../assets/img/fallero.jpg" alt="" >
                <div class="mt-1">
                    <h2>PRESIDENTE</h2>
                    <span><i>Pedro González Checa</i></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center align-content-center m-5">
            <div class="col-3">
                <img src="../../../../../assets/img/falleraInfantil.jpg" alt="">
                <div class="mt-1">
                    <h2>FALLERA MAYOR INFANTIL</h2>
                    <span><i>Sara González Pérez</i></span>
                </div>
            </div>
            <div class="col-3 mt-5">
                <img src="../../../../../assets/img/presidenteInfantil.jpg" alt="">
                <div class="mt-1">
                    <h2>PRESIDENTE INFANTIL</h2>
                    <span><i>Oscar Vilaseca Rodrigo</i></span>
                </div>
            </div>
        </div>

    </div>
</div>