@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@900&display=swap');


.gradiente {
    background: linear-gradient(to bottom, #ffffff, #cccccc);
}

h1 {
    font-size: 50px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

h2 {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;

}


@media (min-width: 300px) and (max-width: 2200px) {
    .imgDiv {
        margin-left: 5%
    }

}

@media (max-width: 1800px) {
    .imgDiv {
        margin-left: 5%
    }

}