<div class="container d-flex justify-content-center">
    <h1 class=" mt-2" mat-dialog-title>Cambiar contraseña</h1>
    <!-- <mat-spinner *ngIf="loading" [diameter]="50" class="me-4 mt-3"></mat-spinner> -->
</div>

<mat-dialog-content>
    <div class="d-flex justify-content-center align-content-center">
        <form [formGroup]="form" class="row" (ngSubmit)="agregarEditarPersona()">
            <div class="row justify-content-center">
                <div class="col-12 w-75">
                    <mat-form-field appearance="fill" class="mb-2 w-100">
                        <mat-label>Contraseña actual</mat-label>
                        <input matInput type="password" formControlName="lastPass">
                    </mat-form-field>
                    <div class="error">
                        <span *ngIf="form.get('lastPass')?.hasError('required') && form.get('lastPass')?.touched">Campo
                            obligatorio<br></span>
                        <span *ngIf="this.loginResponseModel?.usuario?.contrasenia !== form.get('lastPass')?.value && form.get('lastPass')?.touched">Introduza su contraseña actual</span>
                        
                    </div>
                </div>
                <div class="col-12 w-75">
                    <mat-form-field appearance="fill" class="mb-2 w-100">
                        <mat-label>Nueva contraseña</mat-label>
                        <input matInput type="password" formControlName="newPass">
                    </mat-form-field>
                    <div class="error">
                        <span
                            *ngIf="form.get('newPass')?.hasError('required') && form.get('newPass')?.touched">Campo
                            obligatorio</span>
                    </div>
                </div>
                <div class="col-12 w-75">
                    <mat-form-field appearance="fill" class="mb-2 w-100">
                        <mat-label>Confirmar nueva contraseña</mat-label>
                        <input matInput type="password" formControlName="confirmNewPass">
                    </mat-form-field>
                    <div class="error">
                        <span
                            *ngIf="form.get('confirmNewPass')?.hasError('required') && form.get('confirmNewPass')?.touched">Campo
                            obligatorio<br></span>
                            <span
                            *ngIf="(this.form.value.newPass !== this.form.value.confirmNewPass) && form.get('confirmNewPass')?.touched ">Las
                            contraseñas no coinciden</span>
                    </div>
                </div>
            </div>
            <mat-dialog-actions align="end">
                <button type="button" (click)="cancelar()" mat-button>Cancelar</button>
                <button type="submit" [disabled]="form.invalid || (this.loginResponseModel?.usuario?.contrasenia !== form.get('lastPass')?.value) || ( form.get('newPass')?.value !== form.get('confirmNewPass')?.value)" mat-button cdkFocusInitial>Confirmar</button>
            </mat-dialog-actions>
        </form>
    </div>
</mat-dialog-content>