@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@900&display=swap');



h1 {
    font-size: 50px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.blogDiv {
    cursor: pointer;
}

.gradiente {
    background: linear-gradient(to bottom, #d5deef, #000000);
}

@media (max-width: 1007px) {
    .buttonDiv {
        justify-content: center;
        align-items: center;
        margin-top: 4%;
    }
}

@media (min-width: 1007px) {
    .buttonDiv {
        justify-content: end;
        align-items: end;
    }
}