<div class="p-5 text-center bg-image" style="
        background-image: url('../../../../../assets/img/history.jpg');
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 65%;
      ">
</div>



<div class="container-fluid gradiente">
    <nav class="breadcrumb justify-content-end migas">
        <a class="breadcrumb-item" href="#">Sobre nosotros</a>
        <a class="breadcrumb-item" href="../hystory-component/hystory-component.component.html">Historia</a>
    </nav>
    
    <div class="row justify-content-center align-content-center">
        <div class="col-auto">
            <h1>Nuestra historia</h1>
        </div>
        <div class="row justify-content-center align-items-center m-5">
            <div class="col-auto text-center">
                <img src="../../../../../assets/img/escudo-valencia-removebg-preview.png" alt="" width="50%"
                    height="50%">
            </div>
            <div class="col-4 align-items-center border-start">
                <p class="ms-2">Nuestra historia empieza en 1903, cuando se planta la primera falla con el nombre de
                    «Camino de
                    Algirós
                    Serrano Flores», debido al nombre que tenía por entonces la calle que hoy se llama Finlandia.

                    <br><br>
                    Muchos años más tarde, en el año 1941 después de la Guerra Civil conseguimos plantar nuestra primera
                    falla
                    infantil.

                    Por aquel entonces, a lo largo de todos esos años, la falla había ido cambiando de nombre en
                    diversas
                    ocasiones, y fue a partir de 1956 cuando queda finalmente como «General Pando Serrado Flores».
                    <br><br>
                    Somos una comisión fallera que nació de un grupo de amigos que se reunían debajo de un árbol del
                    camino
                    e Algirós, y que sin pensarlos dos veces, plantaron una falla sin más intención que reunirse, y
                    hacer
                    fiesta. Nunca podrían imaginar que esa simple reunión de amigos, podría dar lugar, muchos años más
                    tarde, a una comisión fallera ya consolidada, y con muchos años de historia vividos y que aún están
                    por
                    vivir.
                </p>
            </div>
        </div>
        <div class="col-auto">
            <h1>Nuestro emblema</h1>
        </div>
        <div class="row justify-content-center align-items-center m-5">
            <div class="col-5 align-items-center">
                <p>El estandarte de nuestra falla fue bendecido e inaugurado el año 1973, con motivo de las Bodas de
                    Plata de nuestra Comisión y fue un obsequio que hizo a la misma Dª Angelita Ferrandis Suay, viuda
                    del que durante diez años fue presidente de nuestra Comisión, Don Jaime Lucas Aliaga y de su hija Dª
                    Angelita Lucas Ferrandis, Vda de Ramón Badía que también durante muchos años fue Tesorero y
                    Vice-Presidente de nuestra comisión.
                    <br>
                    <br>
                    Motivo: El que su nieta e hija María del Consuelo Badía y Lucas fue proclamada en una efemérides tan
                    gloriosa FALLERA MAYOR de nuestra falla.
                    <br>
                    <br>
                    El citado estandarte es una verdadera obra de arte y su bordado digno de la categoría que siempre
                    tuvo la que se conoció en todo momento como CASA SUAY, como así quería que se le llamase Dª Angelita
                    Ferrandis.
                </p>
            </div>

        </div>

        <div class="col-auto">
            <h1>Momentos para recordar</h1>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center align-content-center mt-5">
                <div class="col-1 d-flex justify-content-center align-content-center">
                    <img src="../../../../../assets/img/me-gusta.png" alt="" class="circleImg">
                </div>
                <div class="col-1 d-flex justify-content-center align-content-center">
                    <img src="../../../../../assets/img/trofeo.png" alt="" class="circleImg">
                </div>
                <div class="col-1 d-flex justify-content-center align-content-center">
                    <img src="../../../../../assets/img/fuegos-artificialesIcon.png" alt="" class="circleImg">
                </div>
                <div class="col-1 d-flex justify-content-center align-content-center">
                    <img src="../../../../../assets/img/bandera.png" class="circleImg">
                </div>
                <div class="col-1 d-flex justify-content-center align-content-center">
                    <img src="../../../../../assets/img/nota-musical.png" alt="" class="circleImg">
                </div>
                <div class="col-1 d-flex justify-content-center align-content-center">
                    <img src="../../../../../assets/img/como.png" alt="" class="circleImg">
                </div>
                <div class="col-1 d-flex justify-content-center align-content-center">
                    <img src="../../../../../assets/img/megafono.png" alt="" class="circleImg">
                </div>
                <div class="col-1 d-flex justify-content-center align-content-center">
                    <img src="../../../../../assets/img/hogar.png" alt="" class="circleImg">
                </div>
                <div class="col-1 d-flex justify-content-center align-content-center">
                    <img src="../../../../../assets/img/notas.png" alt="" class="circleImg">
                </div>
                <div class="col-1 d-flex justify-content-center align-content-center">
                    <img src="../../../../../assets/img/red.png" alt="" class="circleImg">
                </div>

                <div class="row justify-content-center align-content-center mt-2">
                    <div class="col-1 text-center">
                        <h2 class="pe-3">1903</h2>
                        <h3 class="row pe-3 justify-content-center align-content-center">Comienzos</h3>
                    </div>
                    <div class="col-1 text-center">
                        <h2>1951</h2>
                        <h3 class="justify-content-center align-content-center">Primera insignia</h3>
                    </div>
                    <div class="col-1 text-center">
                        <h2>1956</h2>
                        <h3 class="row justify-content-center align-content-center">Constitución Falla</h3>
                    </div>
                    <div class="col-1 text-center">
                        <h2>1971</h2>
                        <h3 class="row justify-content-center align-content-center">Primer estandarte</h3>
                    </div>
                    <div class="col-1 text-center">
                        <h2>1988</h2>
                        <h3 class="row justify-content-center align-content-center">Himno</h3>
                    </div>
                    <div class="col-1 text-center">
                        <h2>2000</h2>
                        <h3 class="row justify-content-center align-content-center">Obtenemos Bunyol D´or</h3>
                    </div>
                    <div class="col-1 text-center">
                        <h2>2004</h2>
                        <h3 class="row justify-content-center align-content-center">75º aniversario</h3>
                    </div>
                    <div class="col-1 text-center">
                        <h2>2015</h2>
                        <h3 class="row justify-content-center align-content-center">Casal</h3>
                    </div>
                    <div class="col-1 text-center">
                        <h2>2017</h2>
                        <h3 class="row justify-content-center align-content-center">I apuntà</h3>
                    </div>
                    <div class="col-1 text-center">
                        <h2 class="ps-3">2018</h2>
                        <h3 class="row justify-content-center align-content-center">Agrupación Mestalla-Benimaclet
                        </h3>
                    </div>

                </div>
            </div>

            </div>
            <div class="row justify-content-center align-items-center m-3 mb-5">
                <div class="col-5 align-items-center">
                    <p>Como signos que nos representan, encontramos nuestra primera insignia, que data del año 1951,
                        diseñada y confeccionada por Manolo Llopis Chisvert, aunque a lo largo de todos estos años, han
                        ido
                        surgiendo nuevos diseños, siendo el del 2004 el último, como símbolo de nuestro 75 aniversario.
                        <br>
                        <br>
                        Lo mismo ocurre con nuestro estandarte, el primero data del año 1971, bendecido en la parroquia
                        de
                        San Pascual Bailón, pero fue en el año 2004 cuando las Falleras Mayores, deciden regalar uno
                        nuevo
                        con motivo de nuestro 75 aniversario antes citado.
                        <br>
                        <br>
                        Nuestro querido himno, que nos acompaña en todos los actos, y que es un canto que nos identifica
                        a
                        cualquier sitio al que vamos, fue regalo de la orquesta MEL y la banda de Sumacárcer en el año
                        1988,
                        como muestra de la buena relación que manteníamos por ambas partes, y del gran papel que ha
                        tenido
                        en la historia de nuestra falla, por acompañarnos durante tantos ejercicios en las noches
                        falleras.
                        <br>
                        <br>
                        En nuestro gran ejercicio fallero, no podemos olvidar el papel importante que hemos tenido a
                        nivel
                        de Junta Central Fallera, por aportar a varias falleras mayores de nuestra comisión a la corte
                        de
                        honor de la Fallera Mayor de Valencia. Aunque el máximo orgullo llegó en el año 1990, cuando una
                        componente de nuestra comisión se convirtió en la máxima representante de las Fallas y de los
                        falleros, fué Mª José Oliver Mompó, elegida fallera Mayor de Valencia.

                    </p>
                </div>

            </div>
        

    </div>