@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@900&display=swap');

.gradiente {
    background: linear-gradient(to bottom, #ffffff, #cccccc);
}

h1 {
    font-size: 50px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

p {
    font-size: medium;
    text-align: justify;
}

.circleImg {
    background-color: #edede9;
    border-radius: 40%;
}

.yearMoment {
    font-size: medium;
    font-weight: bold;
}


/* .horizontal-gradient {
    background: linear-gradient(to right, blue, pink);
} */