<div class="p-5 text-center bg-image" style="
        background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
        height: 300px;
      ">
    <div>
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Heading</h1>
                <h4 class="mb-3">Subheading</h4>
                <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>
            </div>
        </div>
    </div>
</div>

<nav class="breadcrumb justify-content-end migas">
    <a class="breadcrumb-item" href="#">Sobre nosotros</a>
    <a class="breadcrumb-item" href="../hystory-component/hystory-component.component.html">Historia</a>
</nav>

<div class="container-fluid">
    <div class="row justify-content-center align-content-center">
        <div class="col-auto" style="background-color: aqua;">
            <h1>Nuestra historia</h1>
        </div>
        <div class="row justify-content-center align-items-center m-5">
            <div class="col-auto text-center">
                <img src="../../../../../assets/img/escudo-valencia-removebg-preview.png" alt="" width="50%" height="50%">
            </div>
            <div class="col-4 align-items-center border-start">
                <p class="ms-2">Nuestra historia empieza en 1903, cuando se planta la primera falla con el nombre de «Camino de
                    Algirós
                    Serrano Flores», debido al nombre que tenía por entonces la calle que hoy se llama Finlandia. 
                    
                    <br><br>
                    Muchos años más tarde, en el año 1941 después de la Guerra Civil conseguimos plantar nuestra primera falla
                    infantil.

                    Por aquel entonces, a lo largo de todos esos años, la falla había ido cambiando de nombre en
                    diversas
                    ocasiones, y fue a partir de 1956 cuando queda finalmente como «General Pando Serrado Flores».
                    <br><br>
                    Somos una comisión fallera que nació de un grupo de amigos que se reunían debajo de un árbol del
                    camino
                    e Algirós, y que sin pensarlos dos veces, plantaron una falla sin más intención que reunirse, y
                    hacer
                    fiesta. Nunca podrían imaginar que esa simple reunión de amigos, podría dar lugar, muchos años más
                    tarde, a una comisión fallera ya consolidada, y con muchos años de historia vividos y que aún están
                    por
                    vivir.
                </p>
            </div>
        </div>
        <div class="col-auto" style="background-color: aqua;">
            <h1>Momentos para recordar</h1>
        </div>
        
    </div>

</div>