.formularioLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%
}

.imgLogin{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}