@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@900&display=swap');

.gradiente {
    background: linear-gradient(to bottom, #ffffff, #cccccc);
  }
  

body {
    font-family: 'OpenSans';
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {

    height: 75%;
    width: 75%;
    position: absolute;
}

h1 {
    font-size: 50px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    
}

h2 {
    font-size: 30px;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    
}

.h1Contact {
    padding-top: 2%;
    padding-bottom: 1%;
}

.divContact {
    background-color: #edede9;
}

.error {
    color: red;
    margin-top: -2%;
    margin-bottom: 1%;
}

@media (max-width: 1007px) {
    h1 {
        font-size: 20px;
        text-align: center;
    }

    .mapDiv {
        display: none;
    }

    mat-form-field {
        width: 90%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .nameForm {
        margin-top: 7%;
    }

    .cardClass {
        margin-bottom: 2%
    }

    button {
        margin-bottom: 2%;
    }

    .h1Contact{
        display: none;
    }

    .emailH1{
        margin-top: 4%;
    }
}

@media (min-width: 1007px) {
    mat-form-field {
        width: 60%;
        margin-top: 2%;
    }

    button {
        margin-bottom: 2%;
    }

    .emailH1{
        margin-top: 4%;
        margin-bottom: 5%;
    }
}