.error{
    color: red;
    margin-top: -1%;
    margin-bottom: 3%;
}

.tab-content {
    overflow-x: hidden;
}

.asistantsDiv{
    height: 300px;
    overflow-y: auto;
}

.buttonEdit, .buttonDelete{
    cursor: pointer;
    margin: 5%;
}

.buttonDelete{
    color: red;
}
  